VITE_API_URL=http://localhost:3000/api
RESEND_API_KEY=re_xxxxxxxxxxxxx
FTP_SERVER=ftp.benebone.com
FTP_USERNAME=user
FTP_PASSWORD=password
FTP_INVENTORY_PATH=/exports/inventory/
DROPBOX_ACCESS_TOKEN=xxxxxxxxxxxxx
